@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    height: 100vh;
    /*background: #716F81;*/
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90,92,106,1) 0%, rgba(32,45,58,1) 81.3% );
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.aside button{
    margin: 10px;
    color: #333;
    font-size: 2em;
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 10px rgba(50, 50, 50, 0.35);
    transition: all ease-in-out 300ms;
}

.aside button:hover{
    background: rgba(255, 255, 255, 0.8);
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(50, 50, 50, 0.8);
}

.container{
    padding: 2em 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 3em;
}

.card{
    width: 200px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all ease-in-out 300ms;
}
.card:hover{
    transform: scale(1.2);
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.9);
}
.card__header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 150px;
}
.card__header--top{
    position: absolute;
    width: 100%;
    height: 50%;
    background: teal;
}
.card__header--num{
    position: absolute;
    right: -50px;
    top: -50px;
    line-height: 130px;
    text-align: left;
    padding-left: 1em;
    font-weight: bold;
    color: teal;
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
}
.card__header--img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    margin-top: 25px;
    z-index: 999;
}
.card__header h2{
    color: teal;
    text-transform: capitalize;
}
.card__header small{
    position: absolute;
    bottom: -1.2em;
    right: 10px;
}

.card__body{
    width: 100%;
    display: block;
    padding: 10px;
}

.card__body h4{
    border-bottom: 1px solid #abaaaf;
}

.card__body__stat{
    color: #fff;
    margin-top: 5px;
    height: 22px;
    border-radius: 0 4px 4px 0;
    /* overflow: hidden; */
    cursor: pointer;
    text-align: center;
    position: relative;
}

.card__body__stat::after{
    content: '';
    position: absolute;
    padding: 3px;
    font-size: 0.7em;
    border-radius: 4px;
    border: 1px solid #fff;
    background: #000;
    opacity: 0;
    transition: all ease-in-out 300ms;
}
.card__body__stat:hover::after{
    opacity: 1;
}
.stat--hp{
    background: #F8485E;
    width: 100%;
}
.stat--hp::after{
    top:-8px;
    right: -8px;
    content: 'HP';
}
.stat--attack{
    background: #FFC947;
    width: 45%;
}
.stat--attack::after{
    top:-8px;
    right: -8px;
    content: 'ATK';
}
.stat--defense{
    background: #003638;
    width: 65%;
}
.stat--defense::after{
    top:-8px;
    right: -8px;
    content: 'DEF';
}
.stat--speed{
    background: #53B8BB;
    width: 35%;
}
.stat--speed::after{
    top:-8px;
    right: -8px;
    content: 'SPD';
}

.card__body__stat i{
    padding: 4px;
    color: #333;
    background: #fff;
    float: left;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    top:50%;
    left: 50%;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  #spinner-wrapper{
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    width:100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 1021;
    display: none;
  }

/* 
.card__body__stat i::after{
    content: '10';
    font-family: inherit;
    font-size: 1em;
    position: absolute;
    width: 85%;
    text-align: center;
    color: #fff;
    visibility: hidden;
    transition: all ease-in-out 300ms;
    transform: scale(0);
}

.card__body__stat:hover i::after{
    visibility: visible;
    transform: scale(1);
} */